:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --first-font-family: "Playfair Display", serif;
  --main-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--first-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-weight: normal;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--first-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.btn-style {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-style-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
